modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EasyBusy E-Commerce"

[[workflows.workflow]]
name = "EasyBusy E-Commerce"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && ng serve --port=5000 --host=0.0.0.0 --disable-host-check"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd frontend && npm install && ng serve --port=5000 --host=0.0.0.0 --disable-host-check"]
