<footer class="footer">
  <div class="footer-main">
    <div class="container">
      <div class="footer-content">
        <!-- Newsletter Signup -->
        <div class="footer-newsletter">
          <h3 class="footer-heading">Stay Connected</h3>
          <p>Subscribe to our newsletter for updates, promotions, and more.</p>
          
          <form class="newsletter-form">
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput type="email" placeholder="Enter your email">
            </mat-form-field>
            <button mat-flat-button color="primary">Subscribe</button>
          </form>
          
          <!-- Social Media Links -->
          <div class="social-links">
            <a href="#" target="_blank" aria-label="Facebook">
              <mat-icon>facebook</mat-icon>
            </a>
            <a href="#" target="_blank" aria-label="Twitter">
              <mat-icon>twitter</mat-icon>
            </a>
            <a href="#" target="_blank" aria-label="Instagram">
              <mat-icon>instagram</mat-icon>
            </a>
            <a href="#" target="_blank" aria-label="YouTube">
              <mat-icon>youtube</mat-icon>
            </a>
            <a href="#" target="_blank" aria-label="Pinterest">
              <mat-icon>pinterest</mat-icon>
            </a>
          </div>
        </div>
        
        <!-- Footer Links -->
        <div class="footer-links">
          <div class="footer-links-column">
            <h3 class="footer-heading">Company</h3>
            <ul>
              <li *ngFor="let link of companyLinks">
                <a [routerLink]="link.url">{{ link.name }}</a>
              </li>
            </ul>
          </div>
          
          <div class="footer-links-column">
            <h3 class="footer-heading">Shop</h3>
            <ul>
              <li *ngFor="let link of shopLinks">
                <a [routerLink]="link.url">{{ link.name }}</a>
              </li>
            </ul>
          </div>
          
          <div class="footer-links-column">
            <h3 class="footer-heading">Help</h3>
            <ul>
              <li *ngFor="let link of helpLinks">
                <a [routerLink]="link.url">{{ link.name }}</a>
              </li>
            </ul>
          </div>
          
          <div class="footer-links-column">
            <h3 class="footer-heading">Policies</h3>
            <ul>
              <li *ngFor="let link of policyLinks">
                <a [routerLink]="link.url">{{ link.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Payment Methods -->
      <div class="payment-methods">
        <h3 class="footer-heading">We Accept</h3>
        <div class="payment-icons">
          <img src="assets/images/payment/visa.svg" alt="Visa">
          <img src="assets/images/payment/mastercard.svg" alt="Mastercard">
          <img src="assets/images/payment/amex.svg" alt="American Express">
          <img src="assets/images/payment/paypal.svg" alt="PayPal">
          <img src="assets/images/payment/apple-pay.svg" alt="Apple Pay">
          <img src="assets/images/payment/google-pay.svg" alt="Google Pay">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Copyright Bar -->
  <div class="copyright-bar">
    <div class="container">
      <div class="copyright-content">
        <div class="copyright-text">
          &copy; {{ currentYear }} EasyBusy. All rights reserved.
        </div>
        <div class="app-links">
          <a href="#" target="_blank">
            <img src="assets/images/app-store.svg" alt="Download on the App Store">
          </a>
          <a href="#" target="_blank">
            <img src="assets/images/google-play.svg" alt="Get it on Google Play">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>